html,body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Nunito', sans-serif;
}

.logo {
    position: relative;
    height: 50px;
    width: 145px;
}

.logo .sigil {
    position: absolute;
    left: 0;
    color: #fff !important;
    height: 40px !important;
}

.logo .logo-text {
    position: absolute;
    left: 60px;
    top: 10px;
    font-size: 24px;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
}


header {
    display: block;
    position: relative;
    background: #fff;
    z-index: 100;
    padding: 15px;
    border-bottom: 2px solid #e1e1e1;
    box-shadow: 2px 2px 20px 4px rgba(0, 0, 0, 0.1);
}

header .container {
    position: relative;
}

object.sigil {
    display: inline-block;
    max-height: 45px;
    height: 70%;
    margin: 5px;
}

header .links {
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -21px;
}
header .links .divider {
    display: inline-block;
    border-right: 1px solid #e1e1e1;
    height: 20px;
    width: 1px;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
    top: 5px;
}
header .links a {
    text-decoration: none;
    font-size: 17px;
    color: #000;
    padding: 10px;
    display: inline-block;
    cursor: pointer;
    border-radius: 3px;
}
header .links a.login {
    opacity: 0.5;
}


header .links a:hover {
    background: #000;
    cursor: pointer !important;
    color: #fff;
    opacity: 1;
}

.splash {
    width: 100%;
    /*min-height: 800px;*/
    /*padding-bottom: 200px;*/
    background: #e4e4e4; /* Old browsers */
    background: -moz-linear-gradient(top, #e4e4e4 0%, #fefefe 32%, #d0d0d0 58%, #d0d0d0 58%, #e6e6e6 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #e4e4e4 0%,#fefefe 32%,#d0d0d0 58%,#d0d0d0 58%,#e6e6e6 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #e4e4e4 0%,#fefefe 32%,#d0d0d0 58%,#d0d0d0 58%,#e6e6e6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4e4e4', endColorstr='#e6e6e6',GradientType=0 ); /* IE6-9 */
}

.splash .phone-container {
    position: relative;
    top: 70px;
    margin: auto;
    width: 245px;
    height: 504px;
    float: right;
    margin-bottom: 200px;
}

.splash .phone {
    position: absolute;
    /*left: 50%;*/
    /*margin-left: -122px;*/
    width: 245px;
    height: 504px;
}

.splash .phone-backer {
    background: url('/public/img/phone_p24.png') no-repeat center;
}
.splash .mobile {
    background: url('/public/img/mobile_p24.png') no-repeat center;
}

#intro-text {
    position: relative;
    top: 130px;
}

#intro-text p {
    display: block;
}
#intro-text .heading {
    font-family: 'Nunito', sans-serif;
    font-size: 33px;
}

#intro-text .sub {
    font-size: 20px;
}

#intro-text strong {
    font-weight: 700;
}

.cabling {
    background: url('/public/img/cable_step_1p24.png') no-repeat center;
    position: absolute;
    height: 381px;
    width: 338px;
    left: -185px;
    top: 270px;
    z-index: 50;
}

.keyboard {
    background: url('/public/img/keyboard_p8.png') no-repeat center;
    position: absolute;
    height: 179px;
    width: 269px;
    left: -285px;
    top: 197px;
    z-index: 25;
    opacity: 0.3;
}

.splash .stores {
    position: relative;
    top: 200px;
    left: 120px;
    text-align: right;
    z-index: 100;
}

.splash .stores img {
    display: block;
    margin-bottom: 20px;
}

section.beta {
    background: #fff;
    width: 100%;
}

footer {
    background: #3f2f56 url("/public/img/footer.jpg") center;
    color: #fff;
    width: 100%;
    padding: 60px 30px;
    font-family: 'Nunito', sans-serif;
}

footer .left {
    float: left;
}

footer .left .copyright {
    font-size: 14px;
    font-weight: 300;
    padding: 10px 10px;
    opacity: 0.5;

}

footer .right {
    float: right;
    font-size: 20px;
    padding: 14px 0;
    font-weight: 100;
    text-align: right;
}
footer .right p {
    font-size: 14px;
}

footer .right .made {
    margin-bottom: 20px;
    font-size: 18px;
}

footer .right .by {
    opacity: 0.6;
}

section.beta {
    padding: 40px;
    padding-top: 75px;
    padding-bottom: 100px;
    text-align: center;
}

section p.heading {
    font-size: 22px;
}

section p.sub {
    font-size: 20px;
    font-weight: 100;
}

section p.mini {
    font-size: 14px;
    font-weight: 100;
}

section p.sub strong {
    font-weight: 700;
}

section.devices {
    position: relative;
    background: #3a3a3a;
    color: #fff;
    text-align: center;
    padding: 60px;
    background: url('/public/img/devices.jpg') center left;
    box-shadow: inset 5px 5px 30px rgba(0,0,0,0.4);
}

section.devices .heading {
    margin-bottom: 100px;
    margin-top: -20px;
}

section.devices .sub {
    margin-bottom: 45px;
    margin-left: -20px;
    display: none;
}

section.devices .mini {
    font-size: 20px;
    position: absolute;
    left: 50%;
    margin-left: -200px;
    margin-bottom: 45px;
    bottom: 0;
}

section.devices span {
    background-color: rgba(0,0,0,0.7);
    color: #fff;
    display: inline-block;
    padding: 10px;
    border-radius: 0px;
}

section.devices .mini span {
    background-color: rgba(199,54,113,1);
}

button.become * {
    cursor: pointer !important;
    -webkit-transform: translateZ(0);

}
button.become {
    cursor: pointer !important;
    position: relative;
    background: #ffd2a6;
    width: 200px;
    height: 50px;
    border: none;
    display: block;
    margin: auto;
    margin-top: 30px;
    outline: none;
    left: -10px;
}

button.become .inner {
    position: absolute;
    left: 7px;
    top: 7px;
    width: 200px;
    height: 50px;
    background: #ff7e00;
    color: #fff;
    padding: 15px;
}

button.become:hover {
    background: #b15700;
    cursor: pointer;
}

button.become:hover .inner {
    background: #dd6e01;
    cursor: pointer;
    cursor: hand;
    transform: translate(-3px, -3px);
    transition: transform 0.1s ease-out;
}

.clear {
    clear: both;
}
.center {
    text-align: center;
}

.flip {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}


/**
 *******************************************************
 * Responsive magic
 */

/** Mobile **/
@media (min-width : 320px) 
   and (max-width : 667px) { 
    header .links {
        display: none;
    }

    .keyboard {
        opacity: 0.3;
    }


    footer .right,
    footer {
        text-align: center !important;
    }

    footer .right,
    footer .left {
        float: none;
        margin: auto;
    }

    footer .logo {
        margin: auto;
    }

    .splash .phone-container {
        top: 40px;
        float: none;
    }

    #intro-text {
        text-align: center;
        top: 20px;
    }
    
    .splash {
        padding-bottom: 100px;
    }

    .splash .stores {
        top: 40px;
        left: 10px;
        text-align: center;
    }
    .splash .stores img {
        margin-left: auto;
        margin-right: auto;
    }

    #intro-text .heading {
        font-size: 24px;
    }
    #intro-text .sub {
        font-size: 16px;
    }
}

